html{ font-size:100% } 
body{background:url(/img/favicon_o10.svg) #edf2fc 50% 5% no-repeat;background-size: 50%;font-family: 'Lato';font-size:1rem;letter-spacing: .05rem}
h1{font-family: 'Merriweather Sans';font-size:1.6rem;font-weight:normal;letter-spacing: .3rem}
.absoluteCenter {
  height:50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  width:50%;
}
/* highlight */
.highlight {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    vertical-align: middle;
}
.highlight-text::before {
    content: attr(data-text);
    display: inline-block;
    line-height: 1.3;
    padding: 0 5px;
    vertical-align: middle;
}
.highlight-text {
    animation-delay: 1600ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: worldHighlight;
    background: #ff5500 none repeat scroll 0 0;
    border-radius: 16px;
    color: #fff;
    left: 0;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: nowrap;
    width: 0;
    z-index: 999;
}
@keyframes worldHighlight {
0% {
    width: 0;
}
100% {
    width: 100px;
}
}

.spinimg {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin:-150px 0 0 -150px;
    -webkit-animation:spin 9s linear infinite;
    -moz-animation:spin 9s linear infinite;
    animation:spin 9s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
